.app__menuitem {
    display: flex;
    align-items: center;
    gap: 1rem ;
    margin: 1rem 0;
}
.app__menuitem-img {
  flex-shrink: 0;
}
.app__menuitem-img img {
  width: 90px;
  height: 90px;
   min-width: 70px;  
  border-radius: 50%;   /* WhatsApp DP */
  object-fit: cover;
  margin-right: 1rem;
  border: 1px solid var(--color-golden);
  background-color: #000;
}
.app__menuitem-content {
    flex: 1; 
     }

.app__menuitem-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app__menuitem-sub {
    width: 100%;
    margin-top: 0.2rem;
}

.app__menuitem-name {
    flex: 1;
}

.app__menuitem-dash {
    width: 90px;
    height: 1px;
    background: var(--color-golden);
    margin: 0 1rem;
}

.app__menuitem-price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* Mobile */
@media screen and (max-width: 768px) {
  .app__menuitem-img img {
    width: 52px;
    height: 52px;
    min-width: 52px;
  }
}