.app__contact {
  background: var(--color-black);
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.contact__content {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 350px;
}

.contact__form input,
.contact__form textarea {
  padding: 0.8rem;
  border-radius: 6px;
  border: none;
  outline: none;
}

.contact__image img {
  width: 280px;
}

@media screen and (max-width: 768px) {
  .app__contact {
    grid-template-columns: 1fr;
  }
}
