.app__aboutus {
    position: relative;
}

.about {
  display: flex;
  gap: 2rem;
}

.app__aboutus-overlay {
    position: absolute;
    inset: 0;
}

.app__aboutus-overlay img {
    width: 391px;
    height: 415px;
    z-index: 0;
}

.app__aboutus-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  max-width: 1200px;
  margin: auto;
  align-items: start;
}

.app__aboutus-content_about {
    /* flex: 1; */
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
    flex-direction: column;
}

.app__aboutus-content_knife {
    margin: 2rem 4rem;
}

.app__aboutus-content_knife img {
    height: 500px;
    width: auto;
}

.app__aboutus-content_history {
   
    display: flex;
    justify-content: flex-between;
    /* align-items: flex-start; */
    flex-direction: column;
    /* text-align: left; */
}

.app__aboutus-content_about p,
.app__aboutus-content_history p {
    margin: 2rem 0;
    max-width: 520px;
  line-height: 1.8;
  color: #aaaaaa;
}

@media screen and (min-width: 2000px) {
    .app__aboutus-content_knife img {
        height: 1110px;
    }

    .app__aboutus-content_about p,
    .app__aboutus-content_history p {
        margin: 4rem 0;
    }
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .app__aboutus-content {
    flex-direction: column;
  }
}
@media screen and (max-width: 900px) {
    .app__aboutus-content {
        flex-direction: column;
    }

    .app__aboutus-content_knife {
        margin: 4rem 0;
    }
}

@media screen and (max-width: 650px) {
    .app__aboutus-overlay img {
        width: 80%;
        height: 320px;
    }
}

@media screen and (max-width: 768px) {
  .app__aboutus-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-divider {
    margin: 1rem auto 2rem;
  }

  .app__aboutus-content_about p,
  .app__aboutus-content_history p {
    max-width: 100%;
  }
}
