.app__header {
    background-color: var(--color-black);
    padding: 4rem 1.5rem;
  width: 100%;
}

.app__header-img img {
    width: 80%;
}

.app__header-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header__title {
  font-family: var(--font-base);
  font-size: 64px;
  color: var(--color-golden);
  line-height: 1.1;
}

.header__subtitle {
  font-size: 36px;
  font-family: var(--font-base);
  color: var(--color-golden);
  margin-top: 12px;
}

.header__note {
  font-size: 18px;
  margin-top: 10px;
  color: #ccc;
}

/* Mobile */
@media screen and (max-width: 768px) {
  .app__header {
    flex-direction: column;
    text-align: center;
      padding: 3rem 1rem;
  }
}
@media (max-width: 768px) {
  .header__title {
    font-size: 42px;
  }
  .header__subtitle {
    font-size: 24px;
  }
} 